<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your <%= @statement %>
      If you haven’t done this transaction please click here OR Call us at 1860-419-5555, 1860-500-5555 and Press 0 to report.
      − Have queries? Want to do fund transfers or bill payments? Now do all this with a simple chat. 
      − Get all your banking needs resolved through one app. Download cheekushivam Bank Mobile today from the App Store/Play Store or give a missed call on 9243308900 to get the cheekushivam Bank Mobile download link.
      NRI Customers/Travel currency card customers may call on 24x7 −Toll Free numbers click here to know the number basis your country
      Please do not reply to this mail as this is an automated mail service.
  </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>